<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="margin-left: 2cm;">LOl chat</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
          <li class="nav-item">
            <%= link_to "Logout #{current_user.name}", logout_path, method: 'delete' %>
          </li>
      <% else %>
          <li class="nav-item">
            <%= link_to 'Create An account', new_user_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In', new_session_path %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>